<ion-view title="Info">
    <ion-content class="has-header">
        <div class="card" ng-if="true">
            <div class="item item-divider">
                Changes {{total_rows}}
            </div>
            <div class="item item-text-wrap">
                This view presents information about the changesdb.
                <button ng-click="reset()">Reset LocalDB</button>
            </div>
            <div class="item item-text-wrap" ng-repeat="d in data track by d.id">
                <pre>{{present(d.doc, undefined, 4)}}</pre>
            </div>
        </div>
    </ion-content>
</ion-view>

