<ion-view title="Data Service">

    <ion-content class="has-header">

        <div class="card" ng-if="true">
            <div class="item item-divider">
                Status
            </div>

            <label class="item item-input">
                <span class="input-label">Connection</span>
                <i class="{{pouch.statusIcon()}}"></i>  &nbsp; {{pouch.statusTitle()}}
            </label>

            <label class="item item-input">
                <span class="input-label">Local Changes</span>
                {{pouch.localChanges()}}
            </label>





        </div>
        <div class="card" ng-if="true">
            <div class="item item-divider">
                Settings
            </div>

            <label class="item item-input">
                <span class="input-label">Database</span>
                <input type="text" ng-model="settings.database">
            </label>


            <label class="item item-input">
                <span class="input-label">Username</span>
                <input type="text" ng-model="settings.username">
            </label>
            <label class="item item-input">
                <span class="input-label">Password</span>
                <input type="password" ng-model="settings.password">
            </label>

            <label class="item item-input">
                <span class="input-label">Stay Connected</span>
                <label class="toggle">
                    <input type="checkbox" ng-model="settings.stayConnected">
                    <div class="track">
                        <div class="handle"></div>
                    </div>
                </label>
            </label>

            <label class="item">
                <button class="button button-block button-stable" ng-click="save(settings)">
                    Save Settings
                </button>
            </label>

            <label class="item">
                <button class="button button-block button-stable" ng-click="reset()">
                    RESET DATABASE
                </button>
            </label>

        </div>

        <div class="card" ng-if="true">
            <div class="item item-divider">
                Settings
            </div>

            <label class="item">
                <pre>{{pouch.settings | json}}</pre>
            </label>

            <div class="item item-divider">
                Status
            </div>

            <label class="item">
                <pre>{{pouch.status | json}}</pre>
            </label>

            <div class="item item-divider">
                Session
            </div>

            <label class="item">
                <pre>{{pouch.session | json}}</pre>
            </label>


    </ion-content>
</ion-view>

