<ion-view title="Account">

    <ion-content class="has-header">

        <ion-nav-buttons side="right" class="if-animate" ng-if="account.username == null">
            <a class="button" href="#welcome/account/signup">Sign Up!</a>
        </ion-nav-buttons>

        <div class="card" ng-if="account.username != null">
            <div class="item item-divider">
                Welcome
            </div>
            <div class="item item-text-wrap">
                You are currently signed in as {{account.username}}
            </div>

            <label class="item">
                <button class="button button-block button-stable" ng-click="signOut()">
                    Sign Out
                </button>
            </label>
        </div>

        <div class="card" ng-if="account.username == null">
            <div class="item item-divider">
                Login
            </div>
            <div class="item item-text-wrap">
                Login to access your online todo items.
            </div>

            <label class="item item-input">
                <span class="input-label">Username</span>
                <input type="text" ng-model="$settings.username">
            </label>
            <label class="item item-input">
                <span class="input-label">Password</span>
                <input type="password" ng-model="$settings.password">
            </label>

            <label class="item">
                <button class="button button-block button-stable" ng-click="login($settings)">
                    Login
                </button>
            </label>

        </div>


    </ion-content>
</ion-view>

